body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
    white-space: normal;
}

blockquote {
    font-size: 1em
}

.MathJax {
font-size: 13px;
}

.hljs{
    font-size: 0.85em;
    background: none
}

.noborder tbody>tr>td {
    border: 0px;
}

.equal-cols-2 td {
    width: 50%
}

.centering td {
    text-align:center
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.language-nohighlight {
    font-size: 0.85em;
    display: block;
    padding: 0.5em
}

table{
    background-color:transparent
}

caption{
    padding-top:8px;
    padding-bottom:8px;
    color:#777;
    text-align:left
}

th{
    text-align:left
}

.code{
    max-width:100%;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 1em;
    padding: 0em;
}

.code .hljs-keyword{
    font-style: italic;
    color: #337AB7;
}

.code .hljs-params{
    font-style: italic;
    color: #337AB7;
}

.code .hljs-title{
    font-weight: 800;
    color: black;
}

.code>tbody>tr>td,.code>tbody>tr>th{
    padding:8px;
    line-height:1.42857143;
    vertical-align:top;
    border-top:1px solid #ddd;
    color: #337AB7;
}

.nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}
